  .jumbotron-about {
    background-image: url('../images/about.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media only screen and (min-width: 47.9em) {
    .jumbotron-header {
        background-image: url('../images/header-logo-2-black-bg-sm.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 220px;
        width: 100%;
        display: block;
    }

    .jumbotron-yarn {
        background-image: url('../images/hero-image-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /*height: 550px;*/
        /*min-height: 300px;*/
        height: 375px;
        width: 100%;
        /*height: auto;*/
        display: block;
    }
}

@media only screen and (min-width: 33.9em) {
    .jumbotron-header {
        background-image: url('../images/header-logo-2-black-bg-sm.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 220px;
        height: 220px;
        width: 100%;
    }

    .jumbotron-yarn {
        background-image: url('../images/hero-image-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /*height: 550px;*/
        min-height: 300px;
        height: 375px;
        width: 100%;
        /*height: auto;*/
    }
}

@media only screen and (min-width: 61.9em) {
    .jumbotron-header {
        background-image: url('../images/header-logo-2-black-bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    .jumbotron-yarn {
        background-image: url('../images/hero-image-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        min-height: 300px;
        min-width: 300px;
        /*height: 375px;*/
        width: 100%;
        /*height: auto;*/
    }
}

@media only screen and (min-width: 74.9em) {
    .jumbotron-header {
        background-image: url('../images/header-logo-2-black-bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    .jumbotron-yarn {
        background-image: url('../images/hero-image-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        min-height: 300px;
        /*height: 375px;*/
        width: 100%;
        /*height: auto;*/
    }
}

  html,
  body {
    /*height: 100%;*/
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }

.row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.header0 {
    background-color: #009999 !important;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.footer-pad {
    height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.eightb-font{
    font-family: 'Aldrich', sans-serif;
}

.header-font{
    font-family: 'Nunito', sans-serif;
}

.title-font{
  font-family: 'Nunito', sans-serif;
    font-size: 4.0em
}

.secondary-font{
    font-family: 'Cinzel', serif;
}

.text-font{
    font-family: 'Nunito', sans-serif;
}

.about-font {
    font-family: 'Aldrich', sans-serif;
    color: #00ff6c;
}

.bold-text   { font-weight: bold !important; }


  